@import './mixin.scss';

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    //color: #333;
    font-weight: normal;
    font-family: PingFangSC-Light,helvetica,'Heiti SC';
    box-sizing: border-box;
    font-size: 16px;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }
}

input:focus {
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

//::-webkit-scrollbar {
//    display: none;
//}

::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
  background-color:#f8f8f8;
}
::-webkit-scrollbar {//滚动条的宽度
  width:9px;
  height:9px;
}
::-webkit-scrollbar-thumb {//滚动条的设置
  background-color:#dddddd;
  background-clip:padding-box;
  min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#bbb;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  // text-align: center;
  color: #2c3e50;
  font-size: 14px;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.unified-bg {
  width: 100vw;
  /*min-width: 1000px;*/
  height: 100vh;
  background: url("./assets/img/login-bg.jpg") no-repeat;
  background-size: 100% 100%;
  overflow: scroll;
  font-family: 'SimSun';
}

.model-body-txt {
  color: #777;
  font-size: 24px;
  margin: 45px;
  text-align: center;
}

.btn-cancel, .btn-confirm {
  display: block;
  text-align: center;
  padding-top: 10px;
  width: 120px;
  height: 45px;
  color: #000;
  font-size: 24px;
  background-color: #fff;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 1px 3px 10px 2px #ddd;
}

.btn-confirm {
  background-color: #ded5a7;
  color: #fff;
  box-shadow: 0 0 0 #ddd;
}

.calendar-text-contianer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}

.calendar-text {
  display: inline-block;
  width: 72px;
  height: 24px;
  border-radius: 10px;
  text-align: center;
  line-height: 24px;
  color: #142343;
  border: 1px solid #142343;
  font-size: 16px;
}

.calendar-icon-triangle, .calendar-icon-x, .calendar-icon-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.calendar-icon-triangle {
  background-image: url("./assets/img/calendar-triangle.png");
}

.calendar-icon-x {
  background-image: url("./assets/img/calendar-x.png");
}

.calendar-icon-circle {
  background-image: url("./assets/img/calendar-circle.png");
}

.title-txt {
  font-size: 24px;
}

.my-autocomplete {
  width:800px !important;
  li {
    line-height: normal;
    padding: 7px;
  }
}
.opr-btns {
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 2px solid #eee;
  button {
    margin: 0 30px 10px 0;
    padding: 15px 5vw;
    span {
      font-size: 22px;
    }
  }
}
.el-loading-mask {
  position: fixed !important;
}
.el-input, .el-checkbox__label,.el-input__inner{
  font-size: 18px !important;
}
.el-input,.el-input.el-input--suffix,.el-checkbox{
  -webkit-backface-visibility: hidden !important;
}

@media screen and(max-width: 750px) {
  .opr-btns {
    align-self: flex-start !important;
    button {
      width: 100%;
      margin-left: 0 !important;
    }
  }
}
